// Colors
$primary-color: #ff2851;
$secondary-color:#453f4a;
$background-color: #181818;

$gray-color:#777;
// Fonts
$material-icons : "Material Icons";
$font-russo: 'Russo One',
sans-serif;
$font-kanit: 'Kanit',
sans-serif;